<div class="row">
  <div class="col-12">
    <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-responsive" style="max-height: 20rem;">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-primary" id="dropdownButton" ngbDropdownToggle>Manage Recipe</button>
      <div ngbDropdownMenu aria-labelledby="dropdownButton">
        <button ngbDropdownItem>Add Ingredients</button>
        <button ngbDropdownItem>Edit Recipe</button>
        <button ngbDropdownItem>Delete Recipe</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-12">
    Ingredients
  </div>
</div>